<!doctype html>
<html lang="en">
    <head>
    
        <meta charset="utf-8">
        <title>Freakency Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesbrand" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../admin/assets/images/favicon.ico">
           
        <!-- C3 Chart css -->
        <link href="../admin/assets/libs/c3/c3.min.css" rel="stylesheet" type="text/css">
    
        <!-- Bootstrap Css -->
        <link href="../admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="../admin/assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="../admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

        <link href="../admin/plugins/morris-chart/morris.css" rel="stylesheet">
         <link href="../admin/assets/css/slidebars.min.css" rel="stylesheet">

<link href="../admin/assets/css/icons.css" rel="stylesheet">
        <link href="../admin/assets/css/menu.css" rel="stylesheet" type="text/css">

 <link href="../admin/assets/css/style.css" rel="stylesheet">


    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
       

     <!-- cropper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

   <link href="assets/plugins/morris-chart/morris.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

     <body>
       {{#if admin}}
        {{>admin-header}}
  {{/if}}
        {{{body}}}
        <!-- JAVASCRIPT -->
        <script src="../admin/assets/libs/jquery/jquery.min.js"></script>
        <script src="../admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../admin/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="../admin/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="../admin/assets/libs/node-waves/waves.min.js"></script>
        
        <script defer src="https://cdn.crop.guide/loader/l.js?c=VVSZPT"></script>
        <!-- Peity chart-->
        <script src="../admin/assets/libs/peity/jquery.peity.min.js"></script>
        
        <!--C3 Chart-->
        <script src="../admin/assets/libs/d3/d3.min.js"></script>
        <script src="../admin/assets/libs/c3/c3.min.js"></script>
        
        <script src="../admin/assets/libs/jquery-knob/jquery.knob.min.js"></script>
        
        <script src="../admin/assets/js/pages/dashboard.init.js"></script>
        
        <script src="../admin/assets/js/app.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../admin/assets/js/jquery-3.2.1.min.js"></script>

 <script src="../admin/assets/js/jquery-migrate.js"></script>
        <script src="../admin/assets/js/popper.min.js"></script>
        <script src="../admin/assets/js/bootstrap.min.js"></script>

 <script src="../admin/assets/js/modernizr.min.js"></script>
        <script src="../admin/assets/js/jquery.slimscroll.min.js"></script>
        <script src="../admin/assets/js/slidebars.min.js"></script>

 <script src="../admin/plugins/counter/jquery.counterup.min.js"></script>
        <script src="../admin/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="../admin/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
        <script src="../admin/pages/jquery.sparkline.init.js"></script>

         <script src="../admin/plugins/chart-js/Chart.bundle.js"></script>
        <script src="../admin/plugins/morris-chart/raphael-min.js"></script>
        <script src="../admin/plugins/morris-chart/morris.js"></script>
        <script src="../admin/pages/dashboard-init.js"></script>

 <script src="../admin/assets/js/jquery.app.js"></script>
   <script src="https://kit.fontawesome.com/dd7cba467d.js" crossorigin="anonymous"></script>

   <script src="../admin/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="../admin/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="../admin/plugins/tabledit/jquery.tabledit.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


           
            
    </body>
    
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
           
      
           
            
            <script
                src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
            <script
                src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
</html>
